@{
    ViewData["Title"] = "Error";
}
<link href="~/css/Error.css" rel="stylesheet" />
<script src="~/js/Error.js"></script>
<section class="error_section">
    <p class="error_section_subtitle">Invalid Register Attempt !</p>
    <h1 class="error_title">
        <p>403</p>
        403
    </h1>
    <a href="/Account/Register" class="btn">Back to Register</a>
</section>
