
@{
    ViewData["Title"] = "Success";
}

<link href="~/css/Success.css" rel="stylesheet" />
<section class="Success_section">
    <p class="Success_section_subtitle">Welcome @User.Identity.Name</p>
    <p class="Success_section_subtitle">Login Successful</p>
</section>


